@import "../../common/colors.scss";

.header {
    background-color: $secondary-color;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
}

.user-image,
.user-image img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.search-movies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    height: 30px;
    width: 200px;
    border-radius: 10px;

}

.fa-magnifying-glass {
    color: white;
    padding-left: 15px;
    cursor: pointer;
}